.App {
  text-align: center;
}

.Header {
  width: 100%;
  background-color: rgb(216, 216, 216);
  position: fixed;
  z-index:5;
}

.grid-container {
  width: 100%;
  display: grid;
  position: relative;
  top: 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px 50px 1fr;
  grid-column-gap: 5px;

}

.adder {
  grid-area: 2 / 1 / 3 / 6 ;
}

.num-students {
  grid-area: 1 / 1 / 2 / 6;
}

.student-block {
  background-color: hotpink;
}